.button{
    background-color: #601AD2; /*#a084cf*/
    align-items: center;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    vertical-align: middle;
    padding: 0.1rem 1.1rem;
    border-radius: 4px;
    height: 100%;
    margin: 0 0.39rem;
    min-height: 1.5rem;
}

.barkeeper-card{
    overflow: visible;
}

thead{
    background-color: #ebe6ed;
}

.card-head{
    float: left;
    font-size: 1.1rem;
    font-weight: 400;
    margin: 20px;
    height: 10px;
}

.block-btn{
    background: #ff3883;
    color: #f5f5f5;
    width: 100px;
    border-radius: 4px;
    align-items: center;
    margin: 0 0.4rem;
    min-height: 1.6rem;
}

.unblock-btn{
    background: #50bd35;
    color: #fff;
    width: 100px;
    border-radius: 4px;
    align-items: center;
    margin: 0 0.4rem;
    min-height: 1.6rem;
}

.delete-btn{
    background: white;
    color: #fff;
    width: 70px;
    border-radius: 4px;
    align-items: center;
}

.barkeeper-title{
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

.textAlignRight {
    text-align: right;
}
